app = "cinestats"
primary_region = "bos"

[build]
dockerfile = "Dockerfile"

[env]
TZ = "America/Toronto"
NODE_ENV = "production"

[processes]
app = ["node","cron/seatsSold_daemon.js"]

[[vm]]
memory = "1024mb"
cpu_kind = "shared"
cpus = 1
