app = "cinestats"
primary_region = "yyz"

# If you're deploying a prebuilt image (-i registry.fly.io/...), [build] is optional.
# You can keep it or delete this block; it won't be used when -i is provided.
# [build]
#   dockerfile = "Dockerfile"

[env]
TZ = "America/Toronto"
NODE_ENV = "production"
PUPPETEER_EXECUTABLE_PATH="/usr/bin/google-chrome"



[deploy]
strategy = "immediate"

[processes]
app = "node cron/seatsSold_daemon.js"

[[vm]]
memory = "1024mb"
cpu_kind = "shared"
cpus = 1
